  <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 table1">

    <!-- motorist Column -->
    <ng-container matColumnDef="motorist">
      <th mat-header-cell *matHeaderCellDef> Motorista </th>
      <td mat-cell *matCellDef="let element"> {{element.motorist}} </td>
    </ng-container>
  
    <!-- totalParaEntregar Column -->
    <ng-container matColumnDef="totalParaEntregar">
      <th mat-header-cell *matHeaderCellDef> Entregas</th>
      <td mat-cell *matCellDef="let element"> {{element.totalParaEntregar}} </td>
    </ng-container>
  
    <!-- totalEntregue Column -->
    <ng-container matColumnDef="totalEntregue">
      <th mat-header-cell *matHeaderCellDef> Realizadas</th>
      <td mat-cell *matCellDef="let element"> {{element.totalEntregue}} </td>
    </ng-container>
  
    <!-- totalInsucesso Column -->
    <ng-container matColumnDef="totalInsucesso">
      <th mat-header-cell *matHeaderCellDef>Insucessos</th>
      <td mat-cell *matCellDef="let element"> {{element.totalInsucesso}} </td>
    </ng-container>
  
    <!-- bairro Column -->
    <ng-container matColumnDef="bairro">
      <th mat-header-cell *matHeaderCellDef> Bairro</th>
      <td mat-cell *matCellDef="let element"> {{element.bairro}} </td>
    </ng-container>
  
    <!-- totalEntregas Column -->
    <ng-container matColumnDef="totalEntregas">
      <th mat-header-cell *matHeaderCellDef> Entregas</th>
      <td mat-cell *matCellDef="let element"> {{element.totalEntregas}} </td>
    </ng-container>
  
    <!-- entregasRealizadas Column -->
    <ng-container matColumnDef="entregasRealizadas">
      <th mat-header-cell *matHeaderCellDef> Realizadas</th>
      <td mat-cell *matCellDef="let element"> {{element.entregasRealizadas}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>